{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.created.title") %}

{% block form %}
  {{ heading({
    caption: patient.record.fullName,
    title: title
  }) }}

  {{ dateInput({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("vaccination.created-date.label")
      }
    },
    hint: { text: __("vaccination.created-date.hint") },
    decorate: "vaccination.created_"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("vaccination.created-time.label")
      }
    },
    hint: { text: __("vaccination.created-time.hint") },
    items: [{
      classes: "nhsuk-input--width-2",
      label: "Hour",
      id: "vaccination-created_-hour",
      name: "[vaccination][created_][hour]",
      value: vaccination.created_.hour
    }, {
      classes: "nhsuk-input--width-2",
      label: "Minute",
      id: "vaccination-created_-minute",
      name: "[vaccination][created_][minute]",
      value: vaccination.created_.minute
    }]
  }) }}
{% endblock %}
