{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.method.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        caption: patient.record.fullName,
        text: title
      }
    },
    items: methodItems,
    decorate: "vaccination.method"
  }) }}
{% endblock %}
