{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.notes.title") %}

{% block form %}
  {{ textarea({
    label: {
      classes: "nhsuk-label--l",
      caption: patient.record.fullName,
      isPageHeading: true,
      text: title
    },
    hint: { text: __("vaccination.notes.hint") },
    decorate: "vaccination.notes"
  }) }}
{% endblock %}
