{% extends "_layouts/default.njk" %}

{% set title = __("consent.closed.title") %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        title: title
      }) }}

      {{ __("consent.closed.description", {
        organisation: data.organisation
      }) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
