{% extends "_layouts/default.njk" %}

{% if consent.decision == ReplyDecision.Given %}
  {% set title = __("consent.confirmation.title.Given", {
    campaign: campaign,
    consent: consent,
    session: session
  }) %}
  {% set description = __("consent.confirmation.description.Given") %}
{% else %}
  {% set title = __("consent.confirmation.title.Refused", {
    campaign: campaign
  }) %}
  {% set description = __("consent.confirmation.description.Refused", {
    consent: consent
  }) %}
{% endif %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ govukPanel({
        classes: "nhsuk-u-margin-bottom-6",
        titleHtml: heading({
          classes: "nhsuk-u-font-size-32",
          title: title
        })
      }) }}

      {{ description | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
