{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("batch.new.confirm") %}
{% set title = __("batch.new.title") %}
{% set paths = { back: vaccine.uri } %}

{% block form %}
  {{ heading({
    title: title,
    caption: vaccine.brand
  }) }}

  {{ input({
    classes: "nhsuk-input--width-10 app-u-monospace",
    label: { text: __("batch.id.label") },
    decorate: "batch.id"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: { text: __("batch.expires.label") }
    },
    hint: { text: __("batch.expires.hint") },
    decorate: "batch.expiresDate"
  }) }}
{% endblock %}
