{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("registration.edit.confirm") %}
{% set paths = { back: patient.uri } %}
{% set title = title or __("registration.edit.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: session.location.name,
          title: __("registration.edit.label", { patient: patient })
        })
      }
    },
    items: [{
      text: __("registration.edit.true"),
      value: "true"
    }, {
      text: __("registration.edit.false"),
      value: "false"
    }, {
      divider: "or"
    }, {
      text: __("registration.edit.undefined"),
      value: "undefined"
    }],
    decorate: "patient.registered"
  }) }}
{% endblock %}
