{% extends "_layouts/default.njk" %}

{% set title = __("reply.show.title", reply.parent.fullName) %}
{% set paths = { back: patient.uri } %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: title
    }) }}

    {{ card({
      heading: __("consent.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply, {
          created: {
            value: reply.created | govukDateTime
          },
          decision: {},
          refusalReason: {
            value: ReplyRefusal[reply.refusalReason],
            other: reply.refusalReasonOther
          } if reply.refusalReason
        })
      })
    }) }}

    {{ card({
      heading: __("child.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply.child, {
          fullName: {},
          preferredFirstName: {},
          preferredLastName: {},
          dob: {
            value: reply.child.formattedDob
          },
          gpSurgery: {},
          urn: {
            value: data.schools[reply.child.urn].name
          }
        })
      })
    }) if reply.child }}

    {{ card({
      heading: __("parent.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply.parent, {
          fullName: {},
          relationship: {
            value: ParentalRelationship[reply.parent.relationship],
            other: reply.parent.relationshipOther
          },
          email: {
            value: reply.parent.email | urlize
          },
          tel: {},
          contactPreference: {
            value: ContactPreference[reply.parent.contactPreference],
            other: reply.parent.contactPreferenceOther
          } if reply.parent.tel,
          sms: {
            value: __("parent.sms." + reply.parent.sms)
          }
        })
      })
    }) if reply.parent }}

    {% set healthAnswerRows = [] %}
    {% for key, healthAnswer in reply.healthAnswers %}
      {% set healthAnswerRows = healthAnswerRows | push({
        key: { text: HealthQuestion[key] },
        value: { text: healthAnswer or "No" }
      }) %}
    {% endfor %}

    {{ card({
      heading: __("reply.healthAnswers.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        classes: "app-summary-list--full-width",
        rows: healthAnswerRows
      })
    }) if reply.healthAnswers }}
  </div>
{% endblock %}
