{% extends "_layouts/form.njk" %}

{% set paths = { back: vaccine.uri } %}

{% block form %}
  {{ heading({
    caption: vaccine.brandWithName,
    title: __("vaccine.action.title", type)
  }) }}

  {{ __("vaccine.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  <div class="app-button-group">
    {{ button({
      classes: "app-button--warning",
      text: __("vaccine.action.confirm", type),
      attributes: {
        formAction: vaccine.uri + "/" + type
      }
    }) }}
    <a class="nhsuk-link" href="{{ vaccine.uri }}">
      {{ __("vaccine.action.cancel") }}
    </a>
  </div>
{% endblock %}
