{% extends "_layouts/default.njk" %}

{% set title = vaccine.brandWithName %}
{% set paths = { back: "/vaccines" } %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: title
    }) }}

    {{ card({
      heading: "Details",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(vaccine, {
          gtin: {},
          name: {},
          brand: {},
          supplier: {},
          method: {},
          dose: { value: vaccine.dose + " ml" }
        })
      })
    }) }}

    <p>
      <a href="{{ vaccine.uri }}/delete">Delete vaccine</a>
    </p>
  </div>
{% endblock %}
