{{ xGovukSecondaryNavigation({
  classes: "nhsuk-u-margin-bottom-6",
  items: [{
    text: __("patient.show.title"),
    href: "/sessions/" + session.id + "/" + patient.nhsn,
    current: view == "show"
  }, {
    text: __("patient.events.title"),
    href: "/sessions/" + session.id + "/" + patient.nhsn + "/events",
    current: view == "events"
  }]
}) }}
