{% extends "_layouts/default.njk" %}

{% set title = patient.record.fullName + " – " + __("patient.log.label") %}
{% set view = "log" %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      caption: session.location.name,
      title: patient.record.fullName
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.log.label") }}
    </h2>

    {% for formattedDate, events in log | groupby("formattedDate") %}
      <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color nhsuk-u-font-weight-normal">{{ formattedDate }}</h3>

      {% for item in events %}
        {{ card({
          heading: item.name,
          headingClasses: "nhsuk-heading-s",
          descriptionHtml: event(item),
          attributes: {
            id: item.uuid
          }
        }) }}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
