{% extends "_layouts/default.njk" %}

{% set title = patient.record.fullName %}
{% set view = "show" %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      caption: session.location.name,
      title: title
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.show.title") }}
    </h2>

    {{ card({
      classes: "app-card--" + patientStatus(patient).colour,
      heading: patientStatus(patient).title,
      headingClasses: "nhsuk-heading-m",
      description: patientStatus(patient).description,
      feature: true
    }) }}

    {{ card({
      heading: __("record.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(patient.record, {
          nhsn: {
            classes: "app-u-monospace",
            value: patient.record.formattedNhsNumber
          },
          fullName: {},
          preferredNames: { value: patient.preferredNames },
          dob: { value: patient.record.dobWithAge },
          sex: {},
          address: { value: patient.record.formattedAddress | nl2br },
          gpSurgery: {}
        })
      })
    }) }}

    {% set gillickDescriptionHtml %}
      {% if patient.gillick.competence %}
        {{ summaryList({
          rows: summaryRows(gillick, {
            competence: {
              value: patient.gillick.competence,
              href: patient.uri + "/gillick/edit/competence" if options.editGillick
            },
            assessment: {
              value: patient.gillick.assessment | nhsukMarkdown,
              href: patient.uri + "/gillick/edit/assessment" if options.editGillick
            }
          })
        }) }}
      {% else %}
        {{ link(patient.uri + "/gillick/new", __("gillick.start.confirm")) | nhsukMarkdown if options.editGillick }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("gillick.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: gillickDescriptionHtml
    }) if options.showGillick }}

    {% set consentDescriptionHtml %}
      {% if replies.length %}
        {{ status(
          __("consent." + patient.consent.key + ".status"),
          __("consent." + patient.consent.key + ".icon"),
          __("consent." + patient.consent.key + ".colour")
        ) }}
        {% set replyRows = [] %}
        {% for reply in replies | sort(false, false, "created") %}
          {% set replyColour = replyStatus(reply).colour %}
          {% set replyModifier = "grey" if reply.invalid else replyColour %}
          {% set replyRows = replyRows | push([
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("parent.fullName.label"),
              html: "<span>" + link(reply.uri, reply.fullName) + ('<br><span class="nhsuk-u-font-size-16">' + reply.relationship + "</span></span>")
            },
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("reply.created.label"),
              html: reply.formattedCreated or "Not provided",
              attributes: {
                "data-sort": reply.created
              }
            },
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("reply.decision.label"),
              text: replyDecisionHtml(reply) | safe
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          classes: "nhsuk-u-margin-bottom-4",
          sort: "created",
          responsive: true,
          head: [
            { text: __("parent.fullName.label") },
            { text: __("reply.created.label") },
            { text: __("reply.decision.label") }
          ],
          rows: replyRows
        }) }}
      {% else %}
        {{ __("consent.NoResponse.description") | nhsukMarkdown }}
      {% endif %}
      {% if options.editReplies %}
        <p>
          <a href="{{ session.uri }}/{{ patient.nhsn }}/replies/new">
            {{ __("patient.reply.start.confirm") }}
          </a>
        </p>
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("consent.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: consentDescriptionHtml
    }) }}

    {{ card({
      heading: __("healthAnswers.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        classes: "app-summary-list--full-width",
        rows: healthAnswerRows(patient.consentHealthAnswers)
      })
    }) if patient.consentHealthAnswers }}
  </div>
{% endblock %}
