{% extends "_layouts/default.njk" %}

{% set title = patient.record.fullName %}
{% set view = "show" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: "Home",
      href: "/dashboard"
    }, {
      text: __("campaign.list.title"),
      href: "/campaigns"
    }, {
      text: data.campaigns[session.campaign_uuid].name,
      href: "/campaigns/" + session.campaign_uuid
    }, {
      text: session.location.name,
      href: "/sessions/" + session.id
    }, {
      text: __("session.activity." + activity + ".title"),
      href: "/sessions/" + session.id + "/" + activity
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      caption: session.location.name,
      title: title
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.show.title") }}
    </h2>

    {% set statusDescriptionHtml %}
      {{ patientStatus(patient).description | nhsukMarkdown }}

      {% for vaccination in vaccinations %}
        {{ summaryList({
          rows: summaryRows(vaccination, {
            outcome: {},
            vaccine: {
              value: campaign.vaccine.brandWithName
            } if vaccination.batch_id,
            method: {},
            site: {},
            formattedDose: {},
            batch_id: {
              classes: "app-u-monospace"
            },
            formattedCreated: {},
            created_user_uuid: {
              value: users[vaccination.created_user_uuid].fullName
            } if vaccination.created_user_uuid,
            location: {},
            protocol: {},
            notes: {
              value: vaccination.notes | nhsukMarkdown
            }
          })
        }) }}

        {{ button({
          classes: "nhsuk-button--secondary nhsuk-u-margin-0",
          text: __("vaccination.edit.title"),
          href: vaccination.uri + "/edit"
        }) }}
      {% endfor %}

      {{ button({
        classes: "nhsuk-button--secondary nhsuk-u-margin-0",
        text: __("triage.edit.title"),
        href: patient.uri + "/triage/edit/outcome"
      }) if options.editTriage }}
    {% endset %}

    {{ card({
      classes: "app-card--" + patientStatus(patient).colour,
      heading: patientStatus(patient).title,
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: statusDescriptionHtml,
      feature: true
    }) }}

    {{ card({
      heading: __("record.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(patient.record, {
          nhsn: {
            classes: "app-u-monospace",
            value: patient.record.formattedNhsNumber
          },
          fullName: {},
          preferredNames: { value: patient.preferredNames },
          dob: { value: patient.record.dobWithAge },
          sex: {},
          address: { value: patient.record.formattedAddress | nl2br },
          gpSurgery: {}
        })
      })
    }) }}

    {% set gillickDescriptionHtml %}
      {% if patient.gillick.competent %}
        {{ status(
          __("gillick.competent." + patient.gillick.competent.key + ".status"),
          __("gillick.competent." + patient.gillick.competent.key + ".icon"),
          __("gillick.competent." + patient.gillick.competent.key + ".colour")
        ) }}
        {{ link(patient.uri + "/gillick/edit", __("gillick.edit.title")) | nhsukMarkdown if options.editGillick }}
      {% else %}
        {{ link(patient.uri + "/gillick/new", __("gillick.new.title")) | nhsukMarkdown if options.editGillick }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("gillick.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: gillickDescriptionHtml
    }) if options.showGillick }}

    {% set consentDescriptionHtml %}
      {% if replies.length %}
        {{ status(
          __("consent." + patient.consent.key + ".status"),
          __("consent." + patient.consent.key + ".icon"),
          __("consent." + patient.consent.key + ".colour")
        ) }}
        {% set replyRows = [] %}
        {% for reply in replies | sort(false, false, "created") %}
          {% set replyColour = replyStatus(reply).colour %}
          {% set replyModifier = "grey" if reply.invalid else replyColour %}
          {% set replyRows = replyRows | push([
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("parent.fullName.label"),
              html: "<span>" + link(reply.uri, reply.fullName) + ('<br><span class="nhsuk-u-font-size-16">' + reply.relationship + "</span></span>")
            },
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("reply.created.label"),
              html: reply.formattedCreated or "Not provided",
              attributes: {
                "data-sort": reply.created
              }
            },
            {
              classes: "app-table__cell-status--" + replyModifier,
              header: __("reply.decision.label"),
              text: replyDecisionHtml(reply) | safe
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "consents",
          classes: "nhsuk-u-margin-bottom-4",
          sort: "created",
          responsive: true,
          head: [
            { text: __("parent.fullName.label") },
            { text: __("reply.created.label") },
            { text: __("reply.decision.label") }
          ],
          rows: replyRows
        }) }}
      {% else %}
        {{ __("consent.NoResponse.description") | nhsukMarkdown }}
      {% endif %}
      {% if options.editReplies %}
        <p>
          <a href="{{ patient.uri }}/replies/new">
            {{ __("reply.new.title") }}
          </a>
        </p>
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("consent.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: consentDescriptionHtml
    }) }}

    {{ card({
      heading: __("healthAnswers.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        classes: "app-summary-list--full-width",
        rows: healthAnswerRows(patient.consentHealthAnswers)
      })
    }) if patient.consentHealthAnswers }}

    {% set triageNotesDescriptionHtml %}
      {% for note in patient.triageNotes | reverse %}
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">{{ note.name }}</h3>
        {{ event(note, users) }}
        {% if not loop.last -%}
          <hr class="nhsuk-section-break nhsuk-section-break--visible  nhsuk-section-break--m">
        {%- endif %}
      {% endfor %}
    {% endset %}

    {{ card({
      heading: __("triage.notes.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: triageNotesDescriptionHtml
    }) if patient.triageNotes.length }}

    {% set triageDescriptionHtml %}
      {{ radios({
        items: [{
          text: __("triage.outcome.Vaccinate"),
          value: ScreenOutcome.Vaccinate
        }, {
          divider: "or"
        }, {
          text: __("triage.outcome.DoNotVaccinate"),
          value: ScreenOutcome.DoNotVaccinate
        }, {
          text: __("triage.outcome.DelayVaccination"),
          value: ScreenOutcome.DelayVaccination
        }, {
          text: __("triage.outcome.NeedsTriage"),
          value: ScreenOutcome.NeedsTriage
        }],
        decorate: "triage.outcome"
      }) }}

      {{ textarea({
        label: {
          text: __("triage.notes.label") + " (optional)"
        },
        rows: 5,
        decorate: "triage.notes"
      }) }}

      {{ button({
        text: __("triage.confirm")
      }) }}
    {% endset %}

    {{ card({
      heading: __("triage.label", { patient: patient }),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: triageDescriptionHtml,
      attributes: {
        action: patient.uri + "/triage/new"
      }
    }) | formCard if options.showTriage }}

    {% set preScreenDescriptionHtml %}
      {% for key in preScreenQuestionKeys(campaign, patient) %}
        {{ radios({
          classes: "nhsuk-radios--inline",
          fieldset: {
            legend: { text: PreScreenQuestion[key] }
          },
          items: booleanItems,
          decorate: ["preScreen", key]
        }) }}
      {% endfor %}

      {{ textarea({
        label: { text: __("preScreen.notes.label") + " (Optional)" },
        rows: 3,
        decorate: "preScreen.notes"
      }) }}

      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

      {{ radios({
        classes: "nhsuk-radios--inline",
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--m",
            text: __("preScreen.continue.label", { patient: patient })
          }
        },
        items: booleanItems,
        decorate: "preScreen.continue"
      }) }}

      {{ button({
        text: __("preScreen.confirm")
      }) }}
    {% endset %}

    {{ card({
      heading: __("preScreen.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: preScreenDescriptionHtml,
      attributes: {
        action: patient.uri + "/pre-screen"
      }
    }) | formCard if options.showPreScreen }}
  </div>
{% endblock %}
