{% macro event(item) -%}
  {% if item.note -%}
  <blockquote>
    {{ item.note | nhsukMarkdown }}
  </blockquote>
  {%- endif %}
  <p class="nhsuk-body-s nhsuk-u-margin-0 nhsuk-u-secondary-text-color">
    {{ item.formattedDateTime }}
    {% if item.user %}&middot;
      {{ link(item.user.uri, item.user.fullNameWithRegistration) | safe }}
    {% endif %}
  </p>
{%- endmacro %}
