{% extends "template.njk" %}

{% from "_macros/action-table.njk" import actionTable %}
{% from "_macros/heading.njk" import heading %}

{% block head %}
  <link rel="stylesheet" href="/public/application.css" media="all">
  <script src="/public/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ header({
    containerClasses: "nhsuk-width-container",
    service: {
      name: serviceName,
      href: "/dashboard" if data.token else "/"
    },
    homeHref: "/dashboard" if data.token else "/",
    showNav: "true" if data.token else "false",
    showSearch: "false",
    primaryLinks: [
      {
        url: "/sessions",
        label: "School sessions"
      },
      {
        url: "/vaccines",
        label: "Vaccines"
      } if data.token.admin,
      {
        url: "/users",
        label: "Manage team"
      } if data.token.admin,
      {
        url: "/account",
        label: "Your account"
      },
      {
        url: "/account/sign-out",
        label: "Sign out"
      }
    ]
  }) }}
  {{ govukPhaseBanner({
    classes: "nhsuk-width-container",
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) | replace("govuk-tag", "nhsuk-tag") }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: paths.back,
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) if paths.back }}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}{% endblock %}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner(success) if success }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: "Clear session data",
        URL: "/clear-session-data"
      } if useAutoStoreData, {
        label: "Feature flags",
        URL: "/feature-flags"
      }
    ]
  }) }}
{% endblock %}
