{% extends "template.njk" %}

{% from "_macros/action-list.njk" import actionList %}
{% from "_macros/action-table.njk" import actionTable %}
{% from "_macros/count.njk" import count %}
{% from "_macros/event.njk" import event %}
{% from "_macros/heading.njk" import heading %}
{% from "_macros/icon.njk" import icon %}
{% from "_macros/status.njk" import status %}

{% block head %}
  <link rel="stylesheet" href="/public/application.css" media="all">
  <script src="/public/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " – " if title -}}
  {{- serviceName + " – NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}
{% set bodyClasses = "app-signed-in" if not public %}

{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/dashboard" if not public else "/"
    } if not transactionalService,
    homeHref: "/dashboard" if not public else "/",
    showNav: "true" if not public else "false",
    showSearch: "false",
    transactional: true if transactionalService,
    transactionalService: transactionalService,
    primaryLinks: navigation.primaryLinks
  }) }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: paths.back
  }) if paths.back }}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}{% endblock %}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner(success) if success }}
  {{ govukNotificationBanner(message) if message }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: 'Homepage',
        URL: '/'
      },
      {
        label: 'CHIS records',
        URL: '/records'
      },
      {
        label: "Clear session data",
        URL: "/clear-session-data"
      } if useAutoStoreData,
      {
        label: "Feature flags",
        URL: "/feature-flags"
      },
      {
        label: "Design history",
        URL: "https://childhood-vaccinations.designhistory.app"
      }
    ],
    linksColumn2: navigation.footerLinks[0],
    linksColumn3: navigation.footerLinks[1],
    metaLinks: navigation.footerLinks[2]
  }) | replace("&copy; Crown copyright", "&copy; NHS England") }}
{% endblock %}
