{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("consent.child.description") | nhsukMarkdown }}

  {{ input({
    label: { text: __("consent.child.firstName.label") },
    decorate: "consent.child.firstName"
  }) }}

  {{ input({
    label: { text: __("consent.child.lastName.label") },
    decorate: "consent.child.lastName"
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("consent.child.hasPreferredName.label") }
    },
    items: [{
      text: __("consent.child.hasPreferredName.yes"),
      conditional: {
        html: input({
          label: { text: __("consent.child.preferredFirstName.label") + " (optional)" },
          decorate: "consent.child.preferredFirstName"
        }) + input({
          label: { text: __("consent.child.preferredLastName.label") + " (optional)" },
          decorate: "consent.child.preferredLastName"
        })
      }
    }, {
      text: __("consent.child.hasPreferredName.no")
    }],
    decorate: "child.preferred-name-choice"
  }) }}
{% endblock %}
