{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.gpRegistered.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    items: [{
      text: __("consent.child.gpRegistered.yes"),
      value: GPRegistered.Yes,
      conditional: {
        html: input({
          label: { text: __("consent.child.gpSurgery.label") },
          decorate: "consent.child.gpSurgery"
        })
      }
    }, {
      text: __("consent.child.gpRegistered.no"),
      value: GPRegistered.No
    }, {
      text: __("consent.child.gpRegistered.unknown"),
      value: GPRegistered.Unknown
    }],
    decorate: "consent.child.gpRegistered"
  }) }}
{% endblock %}
