{% extends "_layouts/form.njk" %}

{% set title = __("consent.parent.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ input({
    label: { text: __("consent.parent.fullName.label") },
    decorate: "consent.parent.fullName"
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("consent.parent.relationship.label") }
    },
    items: [{
      text: ParentalRelationship.Mum
    }, {
      text: ParentalRelationship.Dad
    }, {
      text: ParentalRelationship.Guardian
    }, {
      text: ParentalRelationship.Other,
      conditional: {
        html: input({
          label: { text: __("consent.parent.relationshipOther.label") },
          hint: { text: __("consent.parent.relationshipOther.hint") },
          decorate: "consent.parent.relationshipOther"
        }) + radios({
          fieldset: {
            legend: { text: __("consent.parent.hasParentalResponsibility.label") }
          },
          hint: { text: __("consent.parent.hasParentalResponsibility.hint") },
          items: booleanItems,
          decorate: "consent.parent.hasParentalResponsibility"
        })
      }
    }],
    decorate: "consent.parent.relationship"
  }) }}

  {{ input({
    label: { text: __("consent.parent.email.label") },
    hint: { text: __("consent.parent.email.hint") },
    decorate: "consent.parent.email"
  }) }}

  {{ input({
    label: { text: __("consent.parent.tel.label") + " (optional)" },
    hint: { text: __("consent.parent.tel.hint") },
    decorate: "consent.parent.tel"
  }) }}

  {{ checkboxes({
    items: [{
      text: __("consent.parent.sms.label"),
      value: true
    }],
    decorate: "consent.parent.sms"
  }) }}
{% endblock %}
