Dear {{ consent.parent.fullName }},

You’ve given consent for {{ consent.child.fullAndPreferredNames }}  to have their {{ campaign.name | replace("Flu", "flu") }} vaccination in school on {{ session.formattedDate }}.

However, {{ placeholders.refuser }} has refused to give consent for this vaccination.

By law, our nursing team cannot vaccinate a child if someone with parental responsibility refuses to give consent.

If {{ placeholders.refuser }} changes their mind, we’ll let you know.

## Contact the local health team

You can speak to a member of our team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
