Dear {{ consent.parent.fullName }},

You have told us you do not want {{ consent.child.fullAndPreferredNames }} to have their {{ campaign.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }} on {{ session.formattedDate }}.

Please let {{ consent.child.firstName }} know they will not get their {{ campaign.name | replace("Flu", "flu") }} vaccination in school.

If you change your mind, please get in touch with us.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
