Dear {{ consent.parent.fullName }},

You’ve agreed for {{ consent.child.fullAndPreferredNames }} to get the {{ campaign.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }} on {{ session.formattedDate }}.

Please tell {{ consent.child.firstName }} that they’ll be vaccinated on this date.

We’ll let you know once they’re vaccinated.

If {{ consent.child.firstName }}’s health changes, or you arrange to have the vaccination elsewhere, please get in touch.

Speak to a member of the local health team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
