A team of nurses are coming to your school on {{ session.formattedDate }} to offer everyone in Year 8 a vaccine that protects you from something called the human papillomavirus. This is known as ‘HPV’ for short.

## What is HPV?

HPV is a virus that most people will get at some point in their life. Some types of HPV cause cancer.

## Why does the NHS offer the vaccine?

The HPV vaccine helps to protect you against:

- cervical cancer
- mouth and throat cancers
- cancers of the anal and genital areas

It also helps to protect against genital warts.

## How does the vaccine work?

When the vaccine is injected into your body, your immune system makes antibodies. If you got HPV in the future, these antibodies would stop the virus from infecting your cells.

The vaccine works best if it’s given before you’re sexually active.

Young people usually only need 1 dose.

## How do I get the vaccine?

The nurses coming into school can only give you the vaccine if they have permission. We’ve contacted your parents and asked if they’re happy for you to have the vaccine.

If they tell us they are happy, all you need to do is come to school as normal on {{ session.formattedDate | replace(" 2024","") }}. One of the nurses will have a quick chat with you and then give you the vaccine.

If your parents don’t get back to us, or if they say they’re not happy for you to have the vaccine, you can:

- decide not to have the vaccine
- give the nurses permission yourself

If you want to give permission yourself, you can talk to a nurse on {{ session.formattedDate | replace(" 2024","") }} and explain why you want the vaccine. If you go on to have the vaccine, your parents will get an email to let them know this has happened.

## What if I don’t want the vaccine?

You can ask your parents to let us know that you don’t want the vaccine.

If they want you to have the vaccine but you don’t, you can say this to the nurse when you see them on {{ session.formattedDate | replace(" 2024","") }}.

## What should I do now?

Have a read of the leaflet about HPV that comes with this email to find out more about the HPV vaccine. We also suggest you talk to your parents about what you want.

## You can talk to your local health team

If you want to speak to someone from your local health team, you can call {{ data.organisation.tel }}. You can also email {{ data.organisation.email }}.
