Dear {{ consent.parent.fullName }},

This is a quick reminder that {{ consent.child.fullAndPreferredNames }} will get their {{ campaign.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }} on {{ session.formattedDate }}.

If you haven’t already told {{ consent.child.firstName }} that they’ll be vaccinated on this date, please let them know what to expect.

If {{ consent.child.firstName }}’s health changes, or you arrange to have the vaccination elsewhere, please get in touch. You can email {{ data.organisation.email }} or call {{ data.organisation.tel }}.

## Helping the session run smoothly

It’s helpful for {{ consent.child.firstName }} to wear a short-sleeved shirt on the day of the vaccination so the nurse has easy access to the arm.

It’s also helpful for {{ consent.child.firstName }} to have breakfast, as this reduces the likelihood of fainting.

## Possible side effects

{{ consent.child.firstName }} might have some of the following side effects after their vaccination:

- bruising or itching at the site of the injection
- a high temperature, or feeling hot and shivery
- feeling sick (nausea)
- pain in the arms, hands, fingers

If you’re concerned about your child’s reaction, contact your GP in the usual way.

The child health team

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
