Dear {{ consent.parent.fullName }},

{{ consent.child.fullAndPreferredNames }} did not get their {{ campaign.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }} today. This was because {{ placeholders.reason }}.

If you’d still like your child to have a vaccination, you can book a slot at a catch-up clinic by contacting your local health team.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
