Dear {{ consent.parent.fullName }},

You’ve given consent for {{ consent.child.fullAndPreferredNames }} to have their {{ campaign.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }} on {{ session.formattedDate }}.

As you answered ‘yes’ to some of the health questions, we need to check the vaccination is suitable for {{ consent.child.firstName }}. We’ll review your answers and get in touch again soon.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
