Dear {{ consent.parent.fullName }},

Having looked at the answers you gave to the health questions about {{ consent.child.fullAndPreferredNames }}, our nursing team has decided that {{ consent.child.firstName }} cannot have the {{ campaign.name | replace("Flu", "flu") }} vaccination on {{ session.formattedDate }}.

Please get in touch with our team to discuss what {{ consent.child.firstName }} might be able to have instead. You can call {{ data.organisation.tel }}, or email {{ data.organisation.email }}.

The child health team
