Dear {{ consent.parent.fullName }},

Thanks for answering the health questions about {{ consent.child.fullAndPreferredNames }}. Our nurses have confirmed it’s safe for Jamie to have the {{ campaign.name | replace("Flu", "flu") }} vaccination.

This will take place at {{ session.location.name }} on {{ session.formattedDate }}. Please tell Jamie that they’ll be vaccinated on this date.

We’ll let you know once Jamie is vaccinated.

If Jamie’s health changes, or you arrange to have the vaccination elsewhere, please get in touch. You can email {{ data.organisation.email }} or call {{ data.organisation.tel }}.

The child health team
