{% extends "_layouts/form.njk" %}

{% set title = __("account.reset-password.title") %}

{% block form %}
  {{ heading({
    size: "xl",
    title: title
  }) }}

  {{ input({
    label: { text: __("account.email.label") },
    decorate: "email"
  }) }}
{% endblock %}

{% block afterForm %}
  {{ button({
    html: __("account.reset-password.confirm")
  }) }}

  <p><a href="/account/sign-in">{{ __("account.sign-in.title") }}</a></p>
{% endblock %}
