{{ xGovukSecondaryNavigation({
  classes: "nhsuk-u-margin-bottom-6",
  items: [{
    text: __("campaign.show.title"),
    href: "/campaigns/" + campaign.uuid,
    current: view == "show"
  }, {
    text: __("campaign.reports.title"),
    href: "/campaigns/" + campaign.uuid + "/reports",
    current: view == "reports"
  }]
}) }}
