{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("campaign.edit.confirm") %}
{% set paths = { back: campaign.uri } %}
{% set title = __("campaign.edit.title") %}

{% block form %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("campaign.edit.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(campaign, {
        name: {},
        vaccines: {
          value: vaccines | join("\n") | nl2br
        }
      })
    })
  }) }}
{% endblock %}
