{% extends "_layouts/default.njk" %}

{% set title = campaign.name %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: __("campaign.list.title"),
        href: "/campaigns"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: "Details",
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(campaign, {
        name: {},
        vaccines: { value: vaccines | join("\n") | nl2br },
        healthQuestions: { value: healthQuestions | join("\n") | nl2br }
      })
    })
  }) }}
{% endblock %}
