.app-patients {
  @include top-and-bottom;

  align-items: start;
  background-color: $color_nhsuk-white;
  display: flex;
  flex-wrap: wrap;

  & .app-patients__filters {
    @include nhsuk-responsive-padding(4);

    align-self: stretch;
    background-color: $color_nhsuk-grey-4;
    flex-basis: 15rem;
    flex-grow: 1;
  }

  & .app-patients__no-results {
    @include nhsuk-responsive-margin(5);
  }

  & .app-patients__table {
    @include nhsuk-responsive-margin(5);

    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
  }

  & .nhsuk-checkboxes__label {
    padding-left: 0;

    &::before {
      border-width: 3px;
      padding: 0;
      transform: scale(0.6667);
      transform-origin: center left;
    }

    &::after {
      left: 3px;
      transform: rotate(-45deg) scale(0.6667);
    }
  }
}
