// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-brand-colour: #005eb8;
$govuk-border-colour: #d8dde0;
$govuk-error-colour: #d5281b;
$govuk-success-colour: #007f3b;
$govuk-global-styles: false;
$govuk-assets-path: "/govuk/assets/";

@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

// App options
$app-page-width: 1100px;
// stylelint-disable-next-line scss/dollar-variable-pattern
$color_app-dark-orange: darken(mix($color_nhsuk-red, $color_nhsuk-warm-yellow, 55%), 10%);

// Import app components
@import "action-list";
@import "action-table";
@import "autocomplete";
@import "button";
@import "button-group";
@import "card";
@import "count";
@import "header";
@import "heading-group";
@import "message";
@import "password-input";
@import "patients";
@import "secondary-navigation";
@import "sub-navigation";
@import "status";
@import "summary-list";
@import "table";
@import "tabs";
@import "typography";
@import "unbranded";
@import "utilities";

// `$nhsuk-page-width` isn’t globally editable, so need to apply manually
.app-signed-in {
  .nhsuk-width-container,
  .nhsuk-header__navigation-list,
  .nhsuk-header__container {
    max-width: $app-page-width;

    @include govuk-media-query($from: desktop) {
      margin: 0 $nhsuk-gutter;
    }

    @include mq($and: "(min-width: #{($app-page-width + $nhsuk-gutter * 2)})") {
      margin: 0 auto;
    }
  }
}
