// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-brand-colour: #005eb8;
$govuk-border-colour: #d8dde0;
$govuk-error-colour: #d5281b;
$govuk-success-colour: #007f3b;
$govuk-global-styles: false;
$govuk-assets-path: "/govuk/assets/";

@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

// App options
// stylelint-disable-next-line scss/dollar-variable-pattern
$color_app-dark-orange: darken(mix($color_nhsuk-red, $color_nhsuk-warm-yellow, 55%), 10%);

// Import app components
@import "action-list";
@import "action-table";
@import "autocomplete";
@import "button";
@import "button-group";
@import "card";
@import "header";
@import "heading-group";
@import "password-input";
@import "secondary-navigation";
@import "table";
@import "typography";
@import "unbranded";
@import "utilities";
