{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("reply.new.check-answers.confirm") %}
{% set title = __("reply.new.check-answers.title") %}

{% block form %}
  {{ heading({
    caption: patient.record.fullName,
    title: title
  }) }}

  {{ card({
    heading: __("reply.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(reply, {
        decision: {
          value: reply.decision,
          href: reply.uri + "/new/decision"
        },
        method: {
          value: reply.method,
          href: reply.uri + "/new/method"
        } if reply.method,
        refusalReason: {
          other: reply.refusalReasonOther if reply.refusalReason == ReplyRefusal.Other,
          href: reply.uri + "/new/refusal-reason"
        } if reply.refusalReason,
        refusalReasonDetails: {
          value: reply.refusalReasonDetails | nhsukMarkdown,
          href: reply.uri + "/new/refusal-reason-details"
        } if reply.refusalReasonDetails
      })
    })
  }) }}

  {{ card({
    heading: __("child.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(reply.child, {
        fullName: {},
        preferredFirstName: {},
        preferredLastName: {},
        dob: {
          value: reply.child.formattedDob
        },
        gpSurgery: {
          value: reply.child.formattedGpSurgery
        },
        urn: {
          value: data.schools[reply.child.urn].name
        }
      })
    })
  }) if reply.child }}

  {{ card({
    heading: __("parent.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(reply.parent, {
        fullName: {
          href: reply.uri + "/new/parent"
        },
        relationship: {
          other: reply.parent.relationshipOther,
          href: reply.uri + "/new/parent"
        },
        tel: {
          href: reply.uri + "/new/parent"
        }
      })
    })
  }) if reply.parent }}

  {{ card({
    heading: __("reply.healthAnswers.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(
        reply.healthAnswers,
        reply.uri + "/new/health-answers"
      )
    })
  }) if reply.healthAnswers }}

  {{ card({
    heading: __("triage.label", patient.record.firstName),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(triage, {
        outcome: {
          label: __("triage.outcome.label"),
          value: triage.outcome,
          href: reply.uri + "/new/triage"
        },
        notes: {
          label: __("triage.notes.label"),
          value: triage.notes,
          href: reply.uri + "/new/triage"
        }
      })
    })
  }) if triage.outcome }}
{% endblock %}
