{% extends "_layouts/form.njk" %}

{% set title = __("reply.person.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.record.fullName,
          title: title
        })
      }
    },
    items: personItems,
    decorate: "person"
  }) }}
{% endblock %}
