{% extends "_layouts/form.njk" %}

{% set refusal = enumKeyAndValue(ReplyRefusal, reply.refusalReason) %}
{% set title = __("reply.refusalReasonDetails.title." + refusal.key) %}

{% block form %}
  {{ textarea({
    label: {
      html: heading({
        caption: patient.record.fullName,
        title: title
      })
    },
    decorate: "reply.refusalReasonDetails"
  }) }}
{% endblock %}
