{% extends "_layouts/default.njk" %}

{% set title = serviceName + " (MAVIS)" %}

{% block content %}
  <div class="nhsuk-u-width-two-thirds">
    {{ super() }}

    {{ heading({
      size: "xl",
      title: title
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="/sessions">
        {{ __("session.list.title") }}
      </a>
    </h2>
    <p class="nhsuk-u-margin-bottom-1">Use this area to:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>create new school sessions</li>
      <li>upload cohort lists</li>
      <li>send emails to parents</li>
      <li>check consent requests</li>
      <li>triage answers to health questions</li>
      <li>record vaccinations</li>
    </ul>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="/reports">
        {{ __("report.list.title") }}
      </a>
    </h2>
    <p>View service and campaign performance reports</p>

    {% if data.token.admin %}
    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="/vaccines">
        {{ __("vaccine.list.title") }}
      </a>
    </h2>
    <p>Add or remove batches</p>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="/users">
        {{ __("user.list.title") }}
      </a>
    </h2>
    <p>Add or remove team members and set permissions</p>
    {% endif %}

    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="/account">
        {{ __("account.show.title") }}
      </a>
    </h2>
    <p>Change your email address or password</p>
  </div>
{% endblock %}
