{% extends "_layouts/default.njk" %}

{% set title = serviceName + " (Mavis)" %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("vaccine.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/vaccines",
        description: __("vaccine.list.description")
      }) }}
    </li>
  </ul>

  {% if data.token.admin %}
  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="/users">
      {{ __("user.list.title") }}
    </a>
  </h2>
  <p>{{ __("user.list.description") }}</p>
  {% endif %}

  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="/account">
      {{ __("account.show.title") }}
    </a>
  </h2>
  <p>{{ __("account.show.description") }}</p>
{% endblock %}
