{% extends "_layouts/form.njk" %}

{% set title = __("gillick.competence.label") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.record.fullName,
          title: title
        })
      }
    },
    items: enumItems(GillickCompetent),
    decorate: "gillick.competence"
  }) }}
{% endblock %}
